<form [formGroup]="registerForm">
  <div class="form-group col-md-4">
    <label>Full Name</label>
    <input
      type="text"
      class="form-control form-control-lg"
      placeholder="Enter Name"
      formControlName="name"
    />
    <div
      class="error"
      *ngIf="
        registerForm.controls.name.touched && registerForm.controls.name.errors
      "
    >
      {{ getFullNameErrorMsg() }}
    </div>
  </div>
  <div class="form-group col-md-4">
    <label>Email</label>
    <input
      type="email"
      class="form-control form-control-lg"
      placeholder="Enter Email"
      formControlName="email"
    />
    <div
      class="error"
      *ngIf="
        registerForm.controls.email.touched &&
        registerForm.controls.email.errors
      "
    >
      {{ getEmailErrorMsg() }}
    </div>
  </div>
  <div class="form-group col-md-4">
    <label>Password</label>
    <input
      type="password"
      class="form-control form-control-lg"
      placeholder="Enter Password"
      formControlName="password"
    />
    <div
      class="error"
      *ngIf="
        registerForm.controls.password.touched &&
        registerForm.controls.password.errors
      "
    >
      {{ getPasswordErrorMsg() }}
    </div>
  </div>
  <div class="form-group col-md-4">
    <label>Confirm Password</label>
    <input
      type="password"
      class="form-control form-control-lg"
      placeholder="Enter Password Again"
      formControlName="confirmPassword"
    />
    <div
      class="error"
      *ngIf="
        registerForm.controls.confirmPassword.errors &&
        registerForm.controls.confirmPassword.hasError('NoPassswordMatch')
      "
    >
      <span>Password does not match.</span>
    </div>
  </div>

  Alreay have a account? <a (click)="gotToLogin()">sign in</a>

  <div class="form-group register">
    <button class="btn btn-info btn-lg btn-block" (click)="register()">
      SUBMIT
    </button>
  </div>
</form>
